<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlyTau - Homepage</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>
            <button class="login" onclick="document.location.href='/login'">Login</button>
            </td>
            <td>
                <button class="signup" onclick="document.location.href='/signup'">Signup</button>
            </td>
            <td>
                <button class="login-admin" onclick="document.location.href='/login_admin'">Admin Login</button>
            </td>
            <td>

            </td>
            <td>
                <h1>Welcome to FlyTau</h1>
            </td>
            <td>

            </td>
            <td>
                <img class="logo" src="../images/flytau_logo.png" alt="clouds">
            </td>
        </tr>
        <tr>
            <td>
            <p>Order a Flight<p>
            </td>
            <td>
                <button class="option_button" onclick="document.location.href='/manage_booking'">Manage Booking</button>
            </td>
            <td>
                <button class="option_button" onclick="document.location.href='/flight_table'">Flight Table</button>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/homepage" method="post">
                    <label for="SourceField">Source Field</label>
                    <input type="text" id= "SourceField" name="SourceField">
                    <label for="DestinationField">Destination Field</label>
                    <input type="text" id="DestinationField" name="DestinationField">
                    <label for="TakeOffDate">Takeoff Time</label>
                    <input type="date" id="TakeOffDate" name="TakeOffDate">
                    <label for="PassengersAmount">Amount of Passengers</label>
                    <input type="text" id="PassengersAmount" name="PassengersAmount">
                    <input type="submit" value="Search" class="important_button">
                </form>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
</body>
</html>