<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlyTau - Homepage</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>
            <button class="login" onclick="document.location.href='/login'">התחברות</button>
            </td>
            <td>
                <button class="signup" onclick="document.location.href='/signup'">הירשמו</button>
            </td>
            <td>
                <button class="login-admin" onclick="document.location.href='/login-admin'">התחברות למנהלים</button>
            </td>
            <td>

            </td>
            <td>
                <h1>ברוכים הבאים לחברת FlyTau</h1>
            </td>
            <td>

            </td>
            <td>
                <img class="logo" src="../images/flytau_logo.png">
            </td>
        </tr>
        <tr>
            <td>
                <form>
                    <label>שדה מקור</label>
                    <input type="text">
                    <label>שדה יעד</label>
                    <input type="text">
                    <label></label>
                </form>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
</body>
</html>