<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlyTau - Homepage</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>
            <button class="login">התחברות</button>
            </td>
            <td>
                <button class="signup">התחברות מנהלים</button>
            </td>
            <td>

            </td>
            <td>
                <h1>ברוכים הבאים לחברת FlyTau</h1>
            </td>
            <td>

            </td>
            <td>
                <img class="logo" src="../images/flytau_logo.png">
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
</body>
</html>