<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlyTau Login</title>
</head>
<body>
<h1>Log in Please</h1>
<form action="/login" method="post">
    <label for="email">email:</label>
    <input type="email" id="email" name=”email”>
    <label for="password">password:</label>
    <input type="text" id="password" name=”password”>
    <input type="submit" value="login" class="important_button">
</form>

<p>New user?</p>
<a href="/signup" class="nav-link">Press here to sign up</a>
</body>
</html>