<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Managers Flights Table</title>
</head>
<body>
<h1>Flights Board</h1>
    <form action="/manager_flights_table" method="post">
    <table>
    <tr>
    <td>
        <input type="month" name="month">
    </td>
      </tr>
    <tr>
    <td>Flight Status</td>
        </tr>
     <tr>
    <td>
        <input type="radio" name=”status_filter” value=”all”> All </br>
    </td>
     </tr>
        <tr>
    <td>
        <input type="radio" name=”status_filter” value=”active”> Active</br>
    </td>
     </tr>
        <tr>
    <td>
        <input type="radio" name=”status_filter” value=”full_capacity”> Full Capacity </br>
    </td>
     </tr>
        <tr>
    <td>
        <input type="radio" name=”status_filter” value=”complete”> Complete</br>
    </td>
     </tr>
        <tr>
    <td>
        <input type="radio" name=”status_filter” value=”cancelled”> Cancelled</br>
    </td>
     </tr>

 </table>
 <input type="submit" value="Filter" class="important_button"> #class important button does not exsist yet
 </form>
#add the flights table according to the filter
{{filtered_manager_flights_table}}
#add the logo to the page
</body>
</html>