{% extends "layout.html" %}

{% block content %}
<div class="page-container">
    
    <div class="auth-box">
        <div class="auth-header">
            <h2>Sign up</h2>
            <p>Join FlyTau today</p>
        </div>

        <form action="/signup" method="POST" class="auth-form">

            <div class="form-group">
                <label for="FirstName">First Name (Eng)</label>
                <input type="text" id="FirstName" name="First_name" required>
            </div>

            <div class="form-group">
                <label for="LastName">Last Name (Eng)</label>
                <input type="text" id="LastName" name="Last_name" required>
            </div>

            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="email" required>
            </div>

            <div class="form-group">
                <label for="Birthdate">Birthdate:</label>
                <input type="date" id="Birthdate" name="date_of_birth" required>
            </div>

            <div class="form-group">
                <label for="Passport_num">Passport Number:</label>
                <input type="number" id="Passport_num" name="passport_num" required>
            </div>

           <div class="form-group">
                <label for="phone_count">How many phone numbers?</label>
                <input type="number" id="phone_count" name="phone_count"
                    min="1" max="5" required
                    value="{{ phone_count if phone_count }}">
           </div>
           {% if phone_count %}
                <div class="form-group">
                    <label>Phone Number(s):</label>
                    {% for i in range(phone_count) %}
                        <input type="tel" name="phones" placeholder="Phone {{ i + 1 }}" required>
                    {% endfor %}
                </div>
           {% endif %}

            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="password" required>
            </div>

            <input type="submit" value="register" class="btn-full-width btn-signup">

        </form>

        <div class="auth-footer">
            <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>

</div>
{% endblock %}