<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<h1>Sign up</h1>
<form>
    <label>First Name (Eng)</label><input type="text" id="FirstName">
    <label>Last Name (Eng)</label><input type="text" id="LastName">
    <label>email:</label><input type="email" id="Email">
    <label>birth date: </label><input type="date" id="Biethdate">
    <label>passport id</label><input type="number" id="PassportID">
    <label>מגורים</label>
    <label>Phone Number(s)</label><input type="tel" multiple id="Phones">
<label>password:</label><input type="password" id="Password">
<input type="submit"></form>
</body>
</html>